@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500..900;1,500..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width:7px
}
::-webkit-scrollbar-thumb{
  background-color: green !important;
}
::-webkit-scrollbar-track{
  background-color: white;
}

* {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}

.cl-card {
  box-shadow: none !important;
}

.cl-internal-b3fm6y {
  display: none !important;
}

.cl-formButtonPrimary{
    background-color: #054058 !important;
    height: 45px !important;
}
.cl-formFieldInput{
    height: 45px !important;
}